<!-- templates/customer/components/sidebar.html -->
<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <img src="{{ request.user.profile.image.url }}" alt="Profile Image" class="profile-img">
  <h4 class="text-center">{{ request.user.profile.full_name }}</h4>
  <p class="text-center">Customer ID: #{{ request.user.id }}</p>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="{% url 'customer:dashboard' %}" class="nav-link">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'customer:orders' %}" class="nav-link">
        <i class="fas fa-shopping-cart"></i> Orders
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'customer:wishlist' %}" class="nav-link">
        <i class="fas fa-heart"></i> Wishlist
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'customer:profile' %}" class="nav-link">
        <i class="fas fa-user"></i> Profile
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'customer:addresses' %}" class="nav-link">
        <i class="fas fa-map-marker-alt"></i> Address
      </a>
    <li class="nav-item">
      <a href="{% url 'customer:notis' %}" class="nav-link">
        <i class="fas fa-map-marker-alt"></i> Notifications
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'userauths:sign-out' %}" class="nav-link text-danger">
        <i class="fas fa-sign-out-alt"></i> Log Out
      </a>
    </li>
  </ul>
</nav>